
body {
    background-color: black;
}


p {
    color: black;
    font-family: verdana;
    font-size: 100%;
	background-color: yellow;
}

h2{
  color:black;
  font-family:verdana;
  font-size: 90%;
  background-color:yellow;
}

h1 {
    background-color:yellow;
}

h2{
   font-size: 70%;
}

ol{
  font-size: 80%;
}

h2{
  color: DodgerBlue;
  font-size: 160%;
}

li{
  color: DodgerBlue;
  font-size: 100%;
}

 nav ul li a:hover{
	background-image: none;
	animation-name: header;
	animation-duration: 1s;
	animation-iteration-count: 2;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	color: #E10404;
}

li{
font-size:120%;
color:yellow;
}


P{
 font-family:""
}
