
body {
    background-color: black;
}


p {
    color: black;
    font-family: verdana;
    font-size: 50%;
}


h1 {
    background-color: yellow;
}

H2{
   font-size: 50%;



}

ol{
  font-size: 70%;
}

h2{
  color: DodgerBlue;
  font-size: 160%;
}

li{
  color: DodgerBlue;
  font-size: 100%;
}
