
body {
    background-color: black;
}

p {
    color: black;
    font-family: verdana;
    font-size: 50%;
}



h1 {
    background-color: yellow;
}

H2{
   font-size: 50%;

}

ol{
  font-size: 70%;
}
